.cardContainer {
    background-color: rgb(0, 0, 0);
}

.priceContainerUp {
    font-size: 20px;
    color: rgb(29, 222, 93);
}

.priceContainerDown {
    font-size: 20px;
    color: rgb(222, 42, 29);
}

.priceContainerEqual {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.timeContainer {
    font-size: 20px;
    color:rgb(143, 124, 226)
}
