.cardContainer {
    margin: 0;
    position: relative;
    background-color: rgb(34, 44, 50);
}

.priceContainerUp {
    font-family: Impact;
    text-align: center;
    word-spacing: 10px;
    margin: 0;
    position: relative;
    top: 100px;
    left: 0px;
    font-size: 20px;
    color: rgb(27, 151, 69);
}

.priceContainerDown {
    font-family: Impact;
    text-align: center;
    word-spacing: 10px;
    margin: 0;
    position: relative;
    top: 100px;
    left: 0px;
    font-size: 20px;
    color: rgb(159, 37, 29);
}

.priceContainerEqual {
    font-family: Impact;
    text-align: center;
    word-spacing: 10px;
    margin: 0;
    position: relative;
    top: 100px;
    left: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.timeContainer {
    
}
